---
import Mylayouthomeabout from "../layouts/Mylayoutabout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
---

<Mylayouthomeabout title="关于五月天">
    <main>
        <Navigation />

        <h1>关于Mayday</h1>
        <video width="320" height="240" controls>
            <source src="../pages/vedio/wyt25bth.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <ul>
            <p>
                1997年的3月29号，台北的大安森林公园，一个叫So
                Band的乐队临时改为“Mayday”。
            </p>
            <p>野台开唱</p>
            <p>
                五月天，全亚洲代表性摇滚乐团。演出足迹踏遍美国，澳洲以及全亚洲地区，在亚洲乐迷的心目中，已经是不可撼动的巨星地位。屡获殊荣的五月天成军于
                20 世纪 90
                年代耒，由主唱阿信、团长暨吉他手怪兽、吉他手石头、贝斯手玛莎以及鼓手冠佑五位饶富音乐创作能量的团员所组成。
            </p>
            <p>
                1999年7月他们正式推出首张录音室专辑《五月天第一张创作专辑》，包办了整张专辑中的所有乐曲编写，制作与录音，这张专辑发行后便获得各界极大好评与回响，更一举入围第
                11届金曲獎「最佳演唱团体奖」提名;专辑中不乏脍炙人口的经典歌曲，其中〈志明与春娇)和〈拥抱〉成为
                KTV 传唱的热门歌曲，至今点播率仍名列前茅。2000
                年发行了第二张专辑《爱情万岁》，销售量超越第一张专辑,也以此专辑，荣获得第
                12
                届金曲獎「最佳乐团奖」，接连的举办大型巡回演唱会，以及跨足电影配乐等音乐工作，让五月天一步步确立了在华人音乐的地位。
            </p>
            <p>
                五月天的演唱会不断地创造奇迹，也不断地挑战自己，2012年在北京鸟巢接连举行两场共二十万人的演唱会，缔造了门票在一天内完售的惊人纪录，媒体甚至给予了五月天「演唱会之王」的封号。
            </p>
            <p>
                成军25年来，他们的音乐被誉为「正面积极的摇滚乐」。五月天用他们最倔强的憨人精神，一次次挑战自己，持续把「五月天奇迹」带到全世界各地!
            </p>
        </ul>
    </main>
</Mylayouthomeabout>

<style>
    main {
        margin: auto; /* 设置外边距为自动 */
        padding: 1rem; /* 设置内边距为1rem */
        width: 800px; /* 设置宽度为800px */
        max-width: calc(100% - 2rem); /* 设置最大宽度为100%减去2rem */
        color: rgb(0, 0, 0); /* 设置字体颜色为黑色 */
        font-size: 20px; /* 设置字体大小为20px */
        line-height: 1.6; /* 设置行高为1.6倍 */
    }
    h1 {
        color: aliceblue; /* 设置字体颜色为爱丽丝蓝 */
        font-size: 4rem; /* 设置字体大小为4rem */
        font-weight: 700; /* 设置字体粗细为700 */
        line-height: 1; /* 设置行高为1倍 */
        text-align: center; /* 文字居中 */
        margin-bottom: 1em; /* 底部外边距为1em */
    }

    p {
        background-color: rgb(255, 255, 255); /* 背景色为白色 */
        opacity: 0.8; /* 透明度为0.8 */
        border-radius: 1cm; /* 边框圆角为1cm */
    }
    p {
        text-align: justify; /* 文本两端对齐 */
    }
    video {
        width: 800px; /* 宽度为800px */
        height: auto; /* 高度自适应 */
        display: flexbox; /* 使用弹性盒子布局 */
        justify-content: left; /* 内容靠左对齐 */
    }
</style>
