---
import Mylayouthomeabout from "../layouts/Mylayoutabout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
---

<Mylayouthomeabout title="关于五月天">
    <main>
        <Navigation />

        <h1>关于Mayday</h1>

        <img src="src/pages/image/logo1.jpg" alt="五月天logo" />
        <video width="320" height="240" controls>
            <source src="src/pages/vedio/wyt25bth.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <ul>
            <p>⌚时间：1997年的3月29号 📍地点：台北的大安森林公园</p>
            <p>一个叫So Band的乐队临时改为“Mayday”</p>
            <p>野台开唱，开启了他们的通往“音乐”的任意门🚪</p>
            <p>🟠怪兽、🟡玛莎、🟢石头、🔴阿信，当时还没有🔵冠佑</p>
            <p>
                1999年,随着鼓手冠佑的加入,五位"憨人"正式开始了他们的"摇滚万岁"之旅
            </p>
            <p>
                细数25年，9张专辑，3部演唱会电影，2部纪录电影，12个主题巡回演唱会，都是五月天因音乐而生，为LIVE而活的印记。
            </p>
            <p>我们都一样，都是在演唱会出生、也重生的人。</p>
            <p>
                从1999年首场万人「第168场演唱会」开始，巡演世界一圈又一圈，曾和你走过麦迪逊花园，北京鸟巢30场纪录达成，到最接近天空的台北101高楼开演，也在空无一人却思念满场的万人体育场突破时空隔阂与你一起在线倒数跨年，一直到2023年「好好好想见到你」演唱会，横跨4大洲，25个城市，76场，330万人次共襄盛举。
            </p>
            <p>
                五月天在出道满25周年的重要里程碑，从舞台到曲目紧扣25年来的音乐轨迹，歌单集结第一张《五月天第-张创作专辑》到第九张《自传》的代表作，每一首都足以代表「每个人心中都有一首五月天」。
            </p>
        </ul>
    </main>
</Mylayouthomeabout>

<style>
    main {
        margin: auto; /* 设置外边距为自动 */
        padding: 1rem; /* 设置内边距为1rem */
        width: 800px; /* 设置宽度为800px */
        max-width: calc(100% - 2rem); /* 设置最大宽度为100%减去2rem */
        color: rgb(0, 0, 0); /* 设置字体颜色为黑色 */
        font-size: 20px; /* 设置字体大小为20px */
        line-height: 1.6; /* 设置行高为1.6倍 */
    }
    h1 {
        color: aliceblue; /* 设置字体颜色为爱丽丝蓝 */
        font-size: 4rem; /* 设置字体大小为4rem */
        font-weight: 700; /* 设置字体粗细为700 */
        line-height: 1; /* 设置行高为1倍 */
        text-align: center; /* 文字居中 */
        margin-bottom: 1em; /* 底部外边距为1em */
    }

    p {
        background-color: rgb(255, 255, 255); /* 背景色为白色 */
        opacity: 0.8; /* 透明度为0.8 */
        border-radius: 0.5cm; /* 边框圆角为1cm */
    }
    p {
        text-align: center; /* 文本居中对齐 */
    }
    video {
        width: 800px; /* 宽度为800px */
        height: auto; /* 高度自适应 */
        display: flexbox; /* 使用弹性盒子布局 */
        justify-content: left; /* 内容靠左对齐 */
    }
    img {
        display: flex;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
</style>
