---
import Mylayoutzj from "../layouts/Mylayoutzj.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
---

<Mylayoutzj title="专辑">
    <main>
        <Navigation />
        <h1>专辑</h1>
        <p class="instructions">
            <strong> 25年，</strong> 是一段悠长的旅程，五月天用他们的音乐陪伴我们走过了无数个日夜。在这段旅程中，他们发行了<strong
                >9</strong
            >张专辑，每一张专辑都是他们音乐旅程中的一个里程碑，记录着他们的成长和变化。
        </p>
        <a href="https://music.163.com/album?id=38315&userid=484789970">
            <img
                src="/src/pages/image/diyi.jpg"
                alt="1999年《第一张创作专辑》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>

        <p>
            这是五月天在1999年发行的第一张专辑——<a
                href="https://music.163.com/album?id=38315&userid=484789970"
                >《第一张创作专辑》</a
            >。一群年轻人，凭着对音乐的喜好跟创作的热情，聚集成了‘五月天’，一个生来注定与众不同的学生乐团。音乐可以不只一种形式，乐团也绝非你想像的那一种样子。可以这么跟你说，五月天是这样一个靠你很近的学生乐团，说你听懂的话，唱你想要听的歌。时代考验青年，青年创造音乐。这个时代有了五月天，五月天做出这个世代的音乐。
        </p>
        <a href="https://music.163.com/album?id=38308&userid=484789970">
            <img
                src="/src/pages/image/aqws.jpg"
                alt="2000年《爱情万岁》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>

        <p>
            2000年<a
                href="https://music.163.com/album?id=38308&userid=484789970"
                >《爱情万岁》</a
            >。五月天在他们加盟滚石以前就一直有一个想法，就是在千禧年推出一张完全和
            ‘爱情’有关的专辑。为什么呢？必须追溯到阿信当初观看蔡明亮的电影“爱情万
            岁”的时候，他初看第一二遍时，觉得似懂非懂，一直到再看了第三、四次以后，
            才开始有比较深刻的感触。阿信认为，“爱情”，是我们人生周遭的琐事，却是极端
            重要的课题；适逢千禧年世纪末，充斥强烈的不确定感，用音乐诉爱情，也具有其
            特殊的时代意义。所以阿信以此为发想灵感,此张专辑于是产生。
            除此之外，五月天也希望藉由“爱情万岁”这一张新专辑，打破大家对于乐团的
            既定印象，摇滚乐团不一定要批判、呐喊。五月天希望打破大家的既定印象，虽然
            是不同的课题，在音乐本质上仍保有乐团本身的摇滚精神。
        </p>
        <a href="https://music.163.com/album?id=38297&userid=484789970">
            <img
                src="/src/pages/image/rshh.jpg"
                alt="2001年《人生海海》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>
        <p>
            2001年<a
                href="https://music.163.com/album?id=38315&userid=484789970"
                >《人生海海》</a
            >
            　⊙人生海海，我们的未来在哪里? 其实这张新专辑的标题“人生海海”，是在第二张专辑宣传期的时候阿信便想到的主题，经过时间的消化后，阿信愈来愈觉得这个方向契合他们现在的心境，他坦承以前写歌比较外放，心中有冲动时就写下音乐，是比较直接的方式，但开始这张专辑的创作时，却已经没办法循以往的模式写歌，可能是人环境的气氛使然，也可能是自己的心境转变了，于是下笔偏向内敛，也处及较多社会现象的主题，希望真正能从中找到未来的方向。
            人生海海，按照阿信自己的说法是，现在的人对未来有许多的疑惑和不安全感，因为近一年来经济不景气，政局也不安定，让所有人都对自己的未来产生了茫然，作为一个摇滚乐团，五月天应该有勇气去面对:不管是好是坏，都要有积极勇敢的态度，人生原本就像海一般广阔无边，充满诱惑也充满疑惑:但就像潮水随时会产生新的行进，潮落之后必会有潮起，这是五月天期许的人生态度。
        </p>
        <a href="https://music.163.com/album?id=38276&userid=484789970">
            <img
                src="/src/pages/image/sgj.jpg"
                alt="2003年《时光机》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>
        <p>
            2003年<a
                href="https://music.163.com/album?id=38276&userid=484789970"
                >《时光机》</a
            >
            　五月天把第四张专辑名称定为【时光机】，一方面固然是在成功的三部曲之后希望能够重新展开另一个新的阶段，另一方面则要在抛却前作获得空前成功的包袱之外还是能够提醒自己五年前踏入流行音乐这条路程时的初衷，拾起当初对音乐最纯粹的感动。
            所以专辑取名为【时光机】，并不单纯只是在各种天马行空、光怪陆离的异想世界里虚幻地跳跃。
            更重要的是，当五月天带领乐迷们在每一首曲目之间穿梭时，都是在找寻真实生命中，每个重要而且关键的感动时刻。
        </p>
        <a href="https://music.163.com/album?id=38259&userid=484789970">
            <img
                src="/src/pages/image/sdhz.jpg"
                alt="2004年《神的孩子都在跳舞》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>
        <p>
            2004年<a
                href="https://music.163.com/album?id=38259&userid=484789970"
                >《神的孩子都在跳舞》</a
            >
            　这张专辑是五月天成军五年来，第一张由全体团员加入创作的专辑，阿信、玛莎写词，怪兽、石头、谚明、阿信写曲。在11首歌曲当中，怪兽写了三首曲，石头、冠佑各一首；而马莎写了一首词，其余则是阿信包办，团员加入创作，阿信会不会受到“威胁”？阿信坦承当然会，但是他觉得更重要的是：这样的竞争会让大家更了解彼此、也更不分彼此，也是让五月天一起迈向十年、十五年、二十五年...最关键的第一步！
        </p>
        <a href="https://music.163.com/album?id=38241&userid=484789970">
            <img
                src="/src/pages/image/waes.jpg"
                alt="2006年《为爱而生》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>
        <p>
            2006年<a
                href="https://music.163.com/album?id=38241&userid=484789970"
                >《为爱而生》</a
            >
            灵魂里最深邃的第三个世界 世界上最巨大的五合一灵魂 爱之深所以爱之生 [追寻两年幻然一新13曲全创作]
            世上第VI张五月天作品 ...最关键的第一步！ 恨创伤痛 爱创世纪 你创作了我们
            越爱越疯 越陷越深 越执着的灵魂… 横跨欧亚非十万八千里长征大视界﹐每次诞生我都要与你相遇
        </p>
        <a href="https://music.163.com/album?id=38235&userid=484789970">
            <img
                src="/src/pages/image/hqc.jpg"
                alt="2008年《后青春期的诗》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>
        <p>
            2006年<a
                href="https://music.163.com/album?id=38235&userid=484789970"
                >《后青春期的诗》</a
            >
            青春之后，后悔之前，我依然用力的活着! Mayday05:07一生一次的伤停补时，一期一会的勇气之诗
            就算某天唱起这首歌 眼眶会有一点湿热… 如果CD总有一天会消失﹐我们何不毫无保留写这最后十二首诗。
        </p>
        <picture>
            <img
                src="src/pages/image/dersmo.jpg"
                alt="2011年《第二人生》（末日版）"
            />
            <img
                src="src/pages/image/dersmi.jpg"
                alt="2011年《第二人生》（明日版）"
            />
        </picture>
        <ul>
            <p>
                2011年<a
                    href="https://music.163.com/album?id=38214&userid=484789970"
                    >《第二人生》（末日版）</a
                >以及<a
                    href="https://music.163.com/album?id=2040001&userid=484789970"
                    >《第二人生》（明日版）</a
                >
                末日版，它像是我们在夜晚仰望星空时，心中涌起的那份对未知的好奇和对生命终极问题的思考。它告诉我们，即使世界末日来临，我们也要勇敢地面对，因为每一个瞬间都是宝贵的。就像《OAOA
                (Now or Never)》里唱的那样，'现在就是永远'，让我们尽情地舞蹈吧。
            </p>
            <p>
                而明日版，它则像是清晨的第一缕阳光，温暖而明亮，照亮了我们对未来的憧憬。它鼓励我们，无论昨天发生了什么，今天都是一个新的开始。《T
                121
                3121》里，我们听到了时间的流逝，也听到了对过去的怀念，但更多的是对未来的期待。
            </p>
            <p>
                两个版本，两种心情，五月天用他们的音乐，为我们描绘了两个截然不同的世界。但无论是末日的紧迫，还是明日的希望，它们都是我们生命中不可或缺的一部分。就像我们在生活中，有时需要面对挑战，有时需要拥抱希望。
                所以，让我们一起珍惜五月天带给我们的每一份感动，无论是末日版的深刻，还是明日版的希望。因为这就是《第二人生》，这就是五月天，这就是我们共同的故事。"
            </p>
        </ul>
        <a href="https://music.163.com/album?id=34746073&userid=484789970">
            <img
                src="/src/pages/image/zz.jpg"
                alt="2016年《自传》"
                ，width="200px"
                ,
                height="200px"
                style="display:block; margin-left:auto; margin-right:auto;"
            />
        </a>
        <ul>
            <p>
                2016年<a
                    href="https://music.163.com/album?id=34746073&userid=484789970"
                    >《自传》</a
                >history of Tomorrow
            </p>
            <p>
                谁说不能让我 此生唯一自传 如同诗一般？ 关于作品9号 [自传]
                其实不是自传。而是我们人生中登场的人们，与你我生命轨道交会的故事。
            </p>
            <p>
                如果不是你们，我们的人生不会走到这里，不会有如此壮阔绮丽的奇幻漂流。
            </p>
            <p>
                「如果我们不曾相遇」这句话几乎是全世界最矛盾的话语。我们不会遇到那样的人，不会有那样的爱情与家，不会过着后来也算是某种的好好的人生。
                我们不会变成无话不聊的兄弟，我们不会组团穿越任意门到处去巡回，不会有一群支持我们做任何任性事情的你们。
            </p>
            <p>
                身边的乐器消失了，团员模糊了，播放器里换上另外一批歌曲也许你们曾经做过的决定也改变了。也许转眼即逝的有限人生最好的一天，会改变成另外一天。
            </p>
            <p>
                也许没有五月天。也许没有这段文字，让我们在这里自言自语自问「如果我们不曾相遇」？
            </p>
        </ul>
        <style>
            main {
                margin: auto;
                padding: 1rem;
                width: 800px;
                max-width: calc(100% - 2rem);
                color: rgb(0, 0, 0);
                font-size: 20px;
                line-height: 1.6;
            }

            h1 {
                font-size: 4rem;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                margin-bottom: 1em;
                color: aliceblue;
            }
            p {
                background-color: rgb(255, 255, 255);
                opacity: 0.8;
                border-radius: 0.5cm;
            }
            p {
                text-align: justify;
                font-size: 18px;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            picture {
                display: flex;
                height: 200px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1em;
                display: flex; /* 使用Flexbox布局 */
                justify-content: space-between; /* 使列表项之间的间距平均分布 */
            }
            ul {
                background-color: rgb(255, 255, 255);
                opacity: 0.8;
                border-radius: 0.5cm;
            }
        </style>
    </main>
</Mylayoutzj>
