<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>
<a href="/books">Book</a>
<a href="/notes">Note</a>
<style>
    a {
        color: white;
        text-align: center;
        margin-right: auto;
    }
</style>
