---
import { Image } from "astro:assets";
---

<main>
    <ul><img src="src/pages/image/logo1.jpg" alt="Logo" /></ul>
    <a href="/">首页</a>
    <a href="/about">关于</a>
    <a href="/tuanyuan">团员</a>
    <a href="/zhuanji">专辑</a>
    <a href="/yanchanghui">演唱会</a>
</main>
<style>
    a {
        margin: 1em;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #000000;
        text-decoration: none;
        padding: 0em;
        display: inline-block;
    }

    a:hover {
        background-color: #388896;
    }

    main {
        background-color: #ffffff;
        text-align: center;
        border-radius: 5cm;
        border: 2cm;
        border-width: 2cap;
        display: flex;
        justify-content: space-between;
    }
    img {
        display: inline-block;
        height: 35px;
        margin: auto 0;
        vertical-align: middle;
    }
</style>
